body {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.hook h1{
 text-align: center;
 font-family: serif;
 font-style: italic ;
 font-style: underline;
}

.state {
  background-color: orange;
  width: 20%;
height:180px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
justify-content: center;
}
.effect {
  background-color: green;
  width: 20%;
height:180px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
justify-content: center;
}
.ref {
  background-color:palevioletred ;
  width: 20%;
height:240px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
justify-content: center;
}
.red {
  background-color: paleturquoise ;
  width: 20%;
height:180px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
justify-content: center;
}

.context {
  background-color: peachpuff ;
  width: 20%;
height:180px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
justify-content: center;
}
/*.custom {
  background-color: peachpuff ;
  width: 20%;
height:100px;
margin-top: 50px;
margin-left: 10px;
padding: 50px;
float: left;
}*/